#card {
    height: 620px;
}

.card,
.card-img-top {
    height: 100%;
}

#image {
    height: 200px
}

h3 {
    font-size: 1.2rem;
}

p {
    text-align: justify;
}

.rowText {
    height: 150px;
}

.text,
.title {
    height: 100%;
    overflow: hidden;
}

#title {
    height: 120px;
}